<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="MaxSalary" value="60000"/>
    <add key="MinSalary" value="59500"/>
    <add key="CenterPlayerPool" value="999"/>
    <add key="PositionPlayerPool" value="999"/>    
    <add key="NumberOfTeams" value="10"/>
    <add key="InputFile" value="SampleInput.tab"/>
    <add key="OutputFile" value="Picks.txt"/>
  </appSettings>
</configuration>
